In [4]:
import pandas as pd
movie_list = pd.read_csv("D:\ML Course'\MY Sample Programming\DT\Movie Interests.csv")
movie_list

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [8]:
inputdataset = movie_list.drop(columns=['Interest'])
inputdataset

    Age  Gender
0     8       1
1    11       1
2    12       1
3    16       1
4    18       1
5    19       1
6    23       1
7    26       1
8    27       1
9     7       0
10    9       0
11   10       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
outputdata = movie_list['Interest']
outputdata

0     Animation
1     Animation
2     Animation
3        Action
4        Action
5        Action
6         Drama
7         Drama
8         Drama
9     Animation
10    Animation
11    Animation
12       Action
13       Action
14       Action
15        Drama
16        Drama
17        Drama
Name: Interest, dtype: object

In [25]:
from sklearn.tree import DecisionTreeClassifier   # using decission tree alagrothm 

moviemodel = DecisionTreeClassifier() # assigning variable for that model

moviemodel.fit(inputdataset,outputdata)

testmovie = moviemodel.predict([[9,1],[10,0],[21,1]])
testmovie

C:\Users\vigne\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Animation', 'Action'], dtype=object)

In [38]:
from sklearn.tree import DecisionTreeClassifier   # using decission tree alagrothm 
from sklearn.model_selection import train_test_split # for testing ad training
from sklearn.metrics import accuracy_score # for checking accuracy of model
moviemodel = DecisionTreeClassifier() # assigning variable for that model
inputdataset_train,inputdataset_test,outputdata_train,outputdata_test =train_test_split(inputdataset,outputdata,test_size=0.2)
moviemodel.fit(inputdataset_train,outputdata_train)
testmovie1 = moviemodel.predict(inputdataset_test)

acc_info = accuracy_score(outputdata_test,testmovie1) # for accuracy
acc_info

1.0

In [39]:
from sklearn.tree import DecisionTreeClassifier   # using decission tree alagrothm 
import joblib

moviemodel = DecisionTreeClassifier() # assigning variable for that model
moviemodel.fit(inputdataset,outputdata)

viky = joblib.dump (moviemodel,"dtnew")

In [41]:
import joblib
viky1 = joblib.load('dtnew')
test =viky1.predict([[9,1],[10,0],[21,1]])
test

C:\Users\vigne\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Animation', 'Action'], dtype=object)